body{
    font-family: Arial;
}


#post{
    color:crimson;
    text-align:center;
    font-size: 20px; 
}
#container{
    padding: 1em;
    border: 1px solid violet;
    text-align: left;
    margin: 0 auto;
}

#cabecera{
    font-family: lucida;
    font-size: 50px;
    text-align: center;
}

#pie{
    font-family: Gill Sans;
    font-size: 25px;
    text-align: right;
}